* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #1C2329;
}


h1 {
  color: #e0e0e0;
  font-size: 42px;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.legendText {
  color: #e0e0e0;
}

#canvas {
  width: 456px;
  height: 25px;
  border: solid 3px #e0e0e0;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}


p.subtitle {
  color: #e0e0e0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 30px;
}

p.view {
  color: #e0e0e0;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

p.view2 {
  color: #e0e0e0;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.colorLegend1 {
  color: #e0e0e0;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

.colorLegend2 {
  color: #e0e0e0;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

#wrapper {
  overflow: hidden;
}

#sliceWrapper {
  max-width: 500px;
  display: inline-block;
  vertical-align: top;
  left: 34px;
  position: relative;
}

#cylinderWrapper {
  max-width: 500px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

#legend {
  max-width: 456px;
}

#sliderDiv {
  max-width: 500px;
  /*cursor: default !important;*/
  padding-top: 20px;
  position: relative;
}

#cylinder {
  max-width: 500px;
  max-height: 1000px;
  border: solid #e0e0e0 3px;
  border-radius: 1px;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

#slice {
  max-width: 500px;
  max-height: 606px;
  border: solid #e0e0e0 3px;
  border-radius: 1px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#slice2 {
  max-width: 500px;
  max-height: 606px;
  border: solid #e0e0e0 3px;
  border-radius: 1px;
  display: inline-block;
  position: relative;

}

.sliceLine {
  marker-end: url(#markerArrow);
}

.axis {
  fill: #999;
}

.axis .domain {
  fill: none;

}

.axis .halo {
  fill: none;
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: white;
  text-align: center;
  font-size: 12px;
}

.svgSlider rect.background {
  cursor: ew-resize !important;
}
