* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #1C2329;
  min-width: 1500px;
}

select {
  background-color: #1C2329;
  font-family: 'Lato', sans-serif;
  color: #e0e0e0;
  font-size: medium;
}

option {
  background-color: #1C2329;
  font-family: 'Lato', sans-serif;
  color: #e0e0e0;
  font-size: medium;
}


h1 {
  color: #e0e0e0;
  font-size: 42px;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}

.legendText {
  color: #e0e0e0;
}

#flowTooltip {
  font-weight: bold;
  font-size: 20px;
  cursor: help;
}
#forestTooltip {
  font-weight: bold;
  font-size: 20px;
  cursor: help;
}
#parallelTooltip {
  font-weight: bold;
  font-size: 20px;
  cursor: help;
}

#starplotTooltip {
  font-weight: bold;
  font-size: 20px;
  cursor: help;
}

#canvas {
  width: 450px;
  height: 25px;
  /*border: solid 3px #e0e0e0;*/
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

#sliceCanvas {
  width: 338px;
  height: 25px;
  /*border: solid 3px #e0e0e0;*/
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}


p.subtitle {
  color: #e0e0e0;
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 300;
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 30px;
  text-align: center;
}

p.view {
  /*color: #e0e0e0;*/
  color: #1c2329;
  background-color: #e0e0e0;
  /*font-family: 'Lato', sans-serif;*/
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  /*text-transform: uppercase;*/
}

p.view2 {
  color: #e0e0e0;

  /*font-family: 'Lato', sans-serif;*/
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  /*margin-top: 14px;*/
  text-align: center;
}

.colorLegend1 {
  color: #e0e0e0;
  /*font-family: 'Lato', sans-serif;*/
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

.colorLegend2 {
  color: #e0e0e0;
  /*font-family: 'Lato', sans-serif;*/
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

.container {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

#wrapper {
  max-width: 1500px;
  max-height: 900px;
  position: relative;
  text-align: center;
}

#wrapper2 {
  max-width: 1500px;
  max-height: 900px;
  position: relative;
}

#sliceWrapper {
  max-width: 500px;
  height: 100%;
  max-height: 824px;
  min-height: 824px;
  display: inline-block;
  vertical-align: top;
  /*margin-left: 16px;*/
  /*position: relative;*/
}

#cylinderWrapper {
  max-width: 500px;
  height: 100%;
  max-height: 824px;
  min-height: 824px;
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  /*position: relative;*/
  /*left: 34px;*/
}

#fingerGraphWrapper {
  max-width: 500px;
  height: 100%;
  max-height: 824px;
  min-height: 824px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 16px;
}

#runPairplotWrapper {
  min-width: 804px;
  width: 804px;
  height: 100%;
  max-height: 824px;
  min-height: 824px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  /*margin-left: 16px;*/
}

#menuWrapper {
  color: #e0e0e0;
} #menuWrapper p {display: inline;}
  #menuWrapper select {display: inline;}
  #menuWrapper input {display: inline;}


#legend {
  max-width: 450px;
  /*display: inline-block;
  vertical-align: bottom;*/
  position: absolute;
  bottom: 0;
}

#legendSlice {
  max-width: 338px;
  /*display: inline-block;
  vertical-align: bottom;*/
  position: absolute;
  bottom: 0;
}

#sliderDiv {
  max-width: 500px;
  position: relative;

}

#cylinder {
  padding-top: 20px;
  max-width: 500px;
  max-height: 1000px;
  /*border: solid #e0e0e0 3px;*/
  /*border-radius: 1px;*/
  display: inline-block;
  vertical-align: top;
  /*margin: auto;*/
}

#fingerGraph {
  width: 100%;
  max-width: 500px;
  max-height: 1000px;
  position: absolute;
  bottom: 0;
}

#parallelWrapper {
  /*max-width: 1326px;*/
  width: 1326px;
  height: 300px;
  max-height: 300px;
  position: relative;
  /*text-align: center;*/
  margin-top: 10px;
}

#starplotWrapper {
  /*max-width: 1326px;*/
  width: 1326px;
  height: 300px;
  max-height: 300px;
  position: relative;
  /*text-align: center;*/
  margin-top: 10px;
  background-color: black;
}

#graphBrushWrapper {
  width: 100%;
  max-width: 500px;
}

#graphBrush {
  width: 100%;
  max-width: 500px;
  /*position: absolute;
  bottom: 0;*/
  /*border-top: solid 1px #e0e0e0;*/
}

#slice {
  max-width: 340px;
  max-height: 340px;
  /*border: solid #e0e0e0 3px;*/
  /*border-radius: 1px;*/
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#slice2 {
  max-width: 340px;
  max-height: 340px;
  /*border: solid #e0e0e0 3px;*/
  /*border-radius: 1px;*/
  display: inline-block;
  /*display: table-cell;*/
  position: relative;
  /*vertical-align: bottom;*/
  /*bottom: 0;*/

}

.sliceLine {
  marker-end: url(#markerArrow);
}

.axis {
  fill: #999;
}

.axis .domain {
  fill: none;

}

.axis .halo {
  fill: none;
  stroke: #a0a0a0;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: #e0e0e0;
  stroke-width: 4px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: #e0e0e0;
  text-align: center;
  font-size: 12px;
}

.svgSlider rect.background {
  cursor: ew-resize !important;
}

.hidden {
  display: none;
}

div.tooltip {
  color: #1c2329;
  background-color: #e0e0e0;
  padding: .5em;
  /*text-shadow: #f5f5f5 0 1px 0;*/
  border-radius: 1px;
  opacity: 0.9;
  position: absolute;
  min-width: 100px;
  /*font-family: sans-serif;*/
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 1px;
  }
.axis line {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 1px;
}

.runLine {
  fill: none;
}

.brush .extent {
  stroke: #fff;
  /*stroke-width: 2px;*/
  fill: #fff;
  fill-opacity: .25;
}
