.kiviatWrapper {
  // background: black;
  padding: 15px;
}

.kiviatSVG {
  display: inline-block;
  margin: -3px 0;
  // border: 1px solid black;
  // background: white;
}

.kiviatAxis {
  stroke: tint(@background, 15%);
}

.runNum {
  fill: #e0e0e0
}

.kiviatShape {
  // fill: orange;
  fill-opacity: 0.5;

  // stroke: tint(@background, 50%);
  stroke-opacty: 0.25;
}
