// styling for the overall document

.container-fluid,
body,
html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #1C2329;
  color: #E0E0E0;
  .box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.contentPanel {
  height: 100%;
  padding: 0;
}

.viewWrapper {
  padding: 5px;
  position: relative;
}

.view {
  border: 1px solid #E0E0E0;
}

#title {
  font-size: 3vmin;
  font-weight: 300;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  pointer-events: none;
}


#navbar {
  text-align: center;
}

.navbar-inverse {
  background-color: tint(@background, 5%);
  border-width: 1px;
  border-color: transparent tint(@background, 15%) tint(@background, 15%) tint(@background, 15%);
  border-radius: 0 0 20px 20px;
}

.navbar-btn {
  margin: 8px 20px 10px 20px;
}

#controlRow {
  text-align: center;

  label {
    font-weight: 300;
  }

  select {
    background-color: tint(@background, 5%);
    border-color: tint(@background, 15%);
    color: white;
    padding: 4px 8px;
  }
}

#visRow {
  text-align: center;
  padding: 15px 0;
}

.visControl {
  margin: 0 20px;
}

.sectionTitle {
  position: relative;
  font-size: 1.4vmin;
  color: #E0E0E0;
  margin: 0 0 10px 0;

  h5 {
    text-align: center;
    margin: 0 0 8px 0;
  }

  &.alignBottom {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
  }

  span.alignLeft {
    display: inline-block;
    float: left;
  }

  span.alignRight {
    display: inline-block;
    float: right;
  }

  .glyphicon-info-sign {
    color: #69C3E0;
    margin: 0 0 0 5px;
  }

  .form-control {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    background-color: tint(@background, 5%);
    border-color: tint(@background, 15%);
    color: white;
    padding: 1px 3px;
    height: 20px;
    margin: 0 0 -5px -5px;
  }
}
// import css for each view within that div block

#concentrationHeatmap,
#velocityVectorField {
  @import 'slabViews.less';
}

#flowControls {
}

#flowView {
}

#timeChart {
  @import 'timeChart.less';
}

#fingerForest {
  @import 'fingerForest.less';
}

#kiviatSummary {
  @import 'kiviatSummary.less';
}
// functions

.box-sizing(@param) {
  -webkit-box-sizing: @param;
     -moz-box-sizing: @param;
          box-sizing: @param;
}
// generates the h-* classes h-0 to h-100 by 5 for % height
.heightGen(0);

.heightGen(@height) when (@height <= 100) {
  .h-@{height} {
    height: (@height * 100% / 100);
  }
  .heightGen(@height + 5);
}

@background: #1C2329;
